body {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  margin-top: 30px;
}

.btn {
  border-color: black;
  margin-bottom: 5px;
}

.container {
  margin-top: 20px;
  text-align: justify;
}

.ln-box {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border: 1px solid black;
  margin-bottom: 30px;
}

.ln-center {
  text-align: center;
  margin-bottom: 10px;
}

.ln-fixed-right {
  position: fixed;
  float: right;
  right: 30px;
  z-index: 2;
}

.ln-green {
  color: green;
}

.ln-orange {
  color: orange;
}

.ln-light-blue {
  color: #03d1ff;
}

.ln-line-height {
  line-height: 2;
}

.ln-purple {
  color: purple;
}

.ln-red {
  color: red;
}

.ln-white {
  color: white;
}

@media (min-width:801px) {
  .ln-image-small {
    width: 50%;
    height: auto;
  }

  .ln-image-smaller {
    width: 30%;
    height: auto;
  }
}