body {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 170%;
}

hr {
  border: 5px dotted;
  border-bottom: 0;
  margin: 50px auto;
  width: 5%;
}

/* front page */
.logo {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 90px;
}

.front-page {
  display: flex;
  font-family: 'Finger Paint', cursive;
  height: 100vh;
  justify-content: center;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page p {
  font-size: 10rem;
  line-height: 1;
  transform: rotate(-35deg) skew(20deg,10deg);
  border: 1px solid #363636;
  box-shadow: -3px 3px #363636,
              -6px 6px #363636,
              -9px 9px #363636,
              -12px 12px #363636,
              -15px 15px #363636,
              -18px 18px #363636;
}

.front-page p:hover {
  position: relative;
  box-shadow: 0px 0px;
  top: 18px;
}

/* about section */
.center {
  text-align: center;
}

.bigger {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2.5rem;
}

.big {
  font-size: 2rem;
}

.about-section img {
  width: 20%;
  border-radius: 100%;
  float: left;
  margin-right: 40px;
}

/* contact section */
.contact-section {
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.5rem;
  padding-bottom: 50px;
  text-align: center;
}

.contact-section a {
  margin: 0 23px;
}
