body {
  background-color: #222831;
  color: #00adb5;
  font-family: 'Cabin Sketch', cursive;
  font-size: 125%;
  line-height: 2;
}

hr {
  border: 5px dotted;
  border-bottom: 0;
  color: #393e46;
  margin: 50px auto;
  width: 5%;
}

/* front page */
.ln {
  color: #00adb5;
  animation: flicker 5s linear infinite;
}

.ln:hover {
  color: #00adb5;
  text-decoration: none;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity:.99;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity:0.4;
    text-shadow: none; 
  }
}

.front-page {
  display: flex;
  font-family: 'Finger Paint', cursive;
  height: 100vh;
  justify-content: center;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page p {
  font-size: 10rem;
  line-height: 1;
  transform: rotate(-35deg) skew(20deg,10deg);
  border: 1px solid #393e46;
  box-shadow: -3px 3px #393e46,
              -6px 6px #393e46,
              -9px 9px #393e46,
              -12px 12px #393e46,
              -15px 15px #393e46,
              -18px 18px #393e46;
}

.front-page p:hover {
  position: relative;
  box-shadow: 0px 0px;
  top: 18px;
}

/* about section */
a {
  color: #eeeeee;
}

a:hover {
  color: #eeeeee;
}

.center {
  text-align: center;
}

.bigger {
  font-size: 3rem;
}

.big {
  font-size: 2rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

/* contact section */
.contact-section {
  font-size: 1.5rem;
  padding-bottom: 50px;
  text-align: center;
}

.contact-section a {
  margin: 0 23px;
}
