body {
  font-family: 'Cabin Sketch', cursive;
  font-size: 125%;
}

hr {
  border: 5px dotted;
  border-bottom: 0;
  margin: 50px auto;
  width: 5%;
}

/* front page */
.logo {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 90px;
}

.front-page {
  display: flex;
  font-family: 'Finger Paint', cursive;
  height: 100vh;
  justify-content: center;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page p {
  font-size: 10rem;
  line-height: 1;
  transform: rotate(-35deg) skew(20deg,10deg);
}

/* about section */
.right-text {
  text-align: right;
}

/* contact section */
.contact-section {
  padding-bottom: 50px;
  text-align: center;
}

.contact-section a {
  margin: 0 20px;
}