body {
  background-color: #222831;
  color: #00adb5;
  font-family: 'Cabin Sketch', cursive;
  font-size: 125%;
  line-height: 2;
}

a, a:hover {
  color: #eeeeee;
}

td {
  color: #00adb5;
}

.underline {
  text-decoration: underline;
}

.center-text {
  text-align: center;
}

.justify-text {
  text-align: justify;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.fab {
  margin-right: 10px;
}
