body {
  font-family: 'Montserrat', sans-serif;
  font-size: 125%;
}

#pdf {
  position: absolute;
  right: 30px;
  top: 10px;
  color: black;
  z-index: 2;
}

.ln-print-display {
  display: none;
}

.ln-flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 400%;
}

@media print {
  body {
    font-size: 70%;
  }
  a {
    color: black;
    text-decoration: none !important;
  }
  .ln-print-hide {
    display: none;
  }
  .ln-print-display {
    display: inline;
  }
}
