body {
  font-family: 'Montserrat', sans-serif;
  font-size: 125%;
  text-align: justify;
}

#pdf {
  position: absolute;
  right: 30px;
  top: 10px;
  color: black;
  z-index: 2;
}

.print-display {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 400%;
}

.vertical-bar {
  border-right: 1px solid black;
}

.horizontal-bar {
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.skill {
  border: 1px solid gray;
  padding: 0 2px;
}

@media print {
  body {
    font-size: 100%;
  }
  a {
    color: black;
    text-decoration: none !important;
  }
  .print-hide {
    display: none;
  }
  .print-display {
    display: inline;
  }
  .horizontal-bar {
    margin: 5px 0;
  }
}
