body {
  font-family: 'Gentium Basic', serif;
  font-size: 123%;
}

#name {
  font-size: 270%;
  font-weight: 500;
}

#info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#info ul {
  list-style-type: none;
}

.line {
  border-bottom: 10px solid black;
  margin-top: 10px;
}

.date {
  text-align: right;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .print-hide {
    display: none;
  }
  body {
    text-align: left;
  }
}
