body {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  margin-top: 30px;
}

th, td {
  border: 1px solid lightgray;
  text-align: center;
  padding: 10px;
}

.blue {
  color: blue;
}

.box {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  margin-bottom: 30px;
}

.btn {
  border-color: black;
  margin-bottom: 5px;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
}

.container {
  margin-top: 20px;
  text-align: justify;
}

.dark-right-border {
  border-right: 1px solid black;
}

.dropdown {
  position: fixed;
  float: right;
  right: 30px;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  max-height: 300px;
  overflow-y: auto;
  right: 0;
}

.dropdown-content a:hover {
  background-color: #ddd
}

.dropbtn {
  background-color: gray;
  color: white;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.green {
  color: green;
}

.line-height {
  line-height: 2;
}

.math {
  text-align: center;
  margin-bottom: 10px;
}

.orange {
  color: orange;
}

.project {
  border-top: 1px solid black;
  padding-top: 10px;
}

.red {
  color: red;
}

.show {
  display: block;
}
