body {
  font-family: 'Merriweather', serif;
  text-align: justify;
}

.container {
  margin-top: 20px;
  text-align: justify;
}

h2, h5 {
  margin-top: 20px;
}

img {
  margin-bottom: 20px;
}
