.container {
  margin-top: 20px;
  font-family: serif;
  font-size: 110%;
  text-align: justify;
}

.box {
  padding-left: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.math {
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  margin-top: 30px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}
