body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  padding-top: 20px;
}

.content {
  margin-bottom: 30px;
  border: 2px solid black;
  padding-left: 10px;
}

.col-sm-12 {
  border-top: 1px solid black;
  padding-top: 10px;
}

.carousel {
  background-color: black;
  margin-bottom: 10px;
}

.carousel-cell {
  width: 400px;
  counter-increment: carousel-cell;
}
