body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  margin-top: 20px;
  text-align: justify;
}

/* nonlinear, lin_alg */
.line-height {
  line-height: 2;
}

/* c, cpp, java, python */
.content {
  margin-bottom: 30px;
  border: 2px solid black;
  padding-left: 10px;
}

/* projects */
.col-sm-12 {
  border-top: 1px solid black;
  padding-top: 10px;
}

/* apps */
.carousel {
  background-color: black;
  margin-bottom: 10px;
}

/* apps */
.carousel-item {
  text-align: center;
}

/* nonlinear, lin_alg */
.dropdown {
  position: fixed;
  float: right;
  right: 30px;
  z-index: 2;
}

/* nonlinear, lin_alg */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  max-height: 300px;
  overflow-y: auto;
  right: 0;
}

/* nonlinear, lin_alg */
.dropdown-content a:hover {
  background-color: #ddd
}

/* nonlinear, lin_alg */
.show {
  display: block;
}

/* nonlinear, lin_alg */
.dropbtn {
  background-color: gray;
  color: white;
}

/* nonlinear, lin_alg */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* nonlinear, lin_alg, cs_notes */
.box {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  margin-bottom: 30px;
}

/* nonlinear, lin_alg */
.math {
  text-align: center;
  margin-bottom: 10px;
}

/* nonlinear, lin_alg, c, cpp, java, python */
h2 {
  margin-top: 30px;
}

/* nonlinear, lin_alg */
.flex {
  display: flex;
  justify-content: space-evenly;
}

/* nonlinear, lin_alg, c, cpp, java, python */
.btn {
  border-color: black;
  margin-bottom: 5px;
}

/* nonlinear, lin_alg, c, cpp, java, python */
.btn:focus, .btn:active {
  box-shadow: none !important;
}

/* nonlinear */
td {
  border: 1px solid lightgray;
  text-align: center;
  padding: 10px;
}

/* nonlinear */
.dark-right-border {
  border-right: 1px solid black;
}
