body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  padding-top: 20px;
}

.content {
  margin-bottom: 30px;
  border: 2px solid black;
  padding-left: 10px;
}

.col-sm-12 {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.col-md-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
