body, html {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: "Titillium Web";
  background-image: url("./pictures/ivana-cajina-759458-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.scroll {
  height: 100%;
  width: 102%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  margin-top: 5%;
  height: 100%;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.link {
  text-decoration: underline;
}

.flex-around {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-around img {
  border-radius: 5%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col a {
  margin: 25px 0 25px 0;
  font-size: 25px;
}

.random {
  margin-top: 50px;
}

#text-carousel {
  padding: 25px 50px 0 50px;
}

.carousel-content {
  padding-left: 50px;
  padding-right: 50px;
  min-height: 200px;
}

.tab {
  padding-left: 3%;
}

#letter {
  max-width: 100%;
}

.carousel-control-prev {
  width: 4%;
}

.sum {
  display: flex;
  flex-direction: column;
}

.sum img {
  height: 90%;
  align-self: center;
}

.caption {
  text-align: right;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgb(10, 20, 20);
  overflow: hidden;
}

.bat {
  display: flex;
  position: absolute;
  width: 110px;
}

.left_wing {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid black;
  animation: left_flap 1s linear infinite;
}

.body {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid black;
  margin-left: -20px;
  margin-top: 20px;
}

.right_wing {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid black;
  margin-left: -20px;
  animation: right_flap 1s linear infinite;
}

#bat1 {
  animation: fly1 1s linear infinite;
}

#bat2 {
  animation: fly2 1s linear infinite;
}

#bat3 {
  animation: fly3 1s linear infinite;
}

#bat4 {
  animation: fly4 1s linear infinite;
}

#bat5 {
  animation: fly5 1s linear infinite;
}

#bat6 {
  animation: fly6 1s linear infinite;
}

#bat7 {
  animation: fly7 1s linear infinite;
}

#bat8 {
  animation: fly8 1s linear infinite;
}

#bat9 {
  animation: fly9 1s linear infinite;
}

@keyframes fly1 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 33%;
    top: 5%;
  }
  66% {
    left: 66%;
    top: 10%;
  }
  100% {
    left: 100%;
    top: 0;
  }
}

@keyframes fly2 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 20%;
    top: 20%;
  }
  66% {
    left: 40%;
    top: 15%;
  }
  100% {
    left: 100%;
    top: 20%;
  }
}

@keyframes fly3 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 40%;
    top: 10%;
  }
  66% {
    left: 80%;
    top: 15%;
  }
  100% {
    left: 100%;
    top: 30%;
  }
}

@keyframes fly4 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 20%;
    top: 30%;
  }
  66% {
    left: 50%;
    top: 20%;
  }
  100% {
    left: 100%;
    top: 10%;
  }
}

@keyframes fly5 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 60%;
    top: 20%;
  }
  66% {
    left: 80%;
    top: 10%;
  }
  100% {
    left: 100%;
    top: 20%;
  }
}

@keyframes fly6 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 40%;
    top: 30%;
  }
  66% {
    left: 80%;
    top: 40%;
  }
  100% {
    left: 100%;
    top: 30%;
  }
}

@keyframes fly7 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 10%;
    top: 30%;
  }
  66% {
    left: 40%;
    top: 50%;
  }
  100% {
    left: 100%;
    top: 50%;
  }
}

@keyframes fly8 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 20%;
    top: 50%;
  }
  66% {
    left: 50%;
    top: 40%;
  }
  100% {
    left: 100%;
    top: 30%;
  }
}

@keyframes fly9 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 30%;
    top: 30%;
  }
  66% {
    left: 90%;
    top: 50%;
  }
  100% {
    left: 100%;
    top: 40%;
  }
}

@keyframes left_flap {
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(-20deg);
    margin-top: 10px;
  }
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: rotate(0);
    margin-top: 0;
  }
}

@keyframes right_flap {
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(20deg);
    margin-top: 10px;
  }
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: rotate(0);
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .flex-around {
    flex-direction: column;
  }
}
