body, html {
  background-image: url('./pictures/corey-blaz-5003-unsplash.jpg');
  background-size: 100%;
  background-repeat: repeat-y;
  padding-top: 20px;
}

h2 {
  margin-top: 3%;
  color: white;
}

h5, h6 {
  color: silver;
}

.text-box {
  background-color: #ffffff;
  opacity: 0.5;
}