.banner {
  font-family: 'Trebuchet MS';
  text-align: center;
}

.post {
  font-family: 'Times New Roman';
  margin-left: 13%;
  margin-right: 40%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.title {
  text-align: left;
  font-family: 'Trebuchet MS';
}

#more_function, #more_hs_culture, #more_learning_math, #more_haircut {
  display: none;
}