.navbar-toggler {
  border-color: gray;
}

.navbar {
  background-color: white;
}

.banner {
  font-family: 'Trebuchet MS';
  text-align: center;
  padding-top: 9%;
}

.post {
  font-family: 'Times New Roman';
  margin-left: 13%;
  margin-right: 40%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.title {
  text-align: left;
  font-family: 'Trebuchet MS';
}

.date {
  color: gray;
}

.btn {
  color: gray;
  background-color: white;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

#back2Top:hover {
  background-color: #DDF;
  color: #000;
}