.navbar-toggler {
  border-color: gray;
}

.navbar {
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
}

.banner {
  font-family: 'Trebuchet MS';
  text-align: center;
}

.container {
  margin-left: 15%;
}

.post {
  font-family: 'Crimson Text', 'Times New Roman';
  font-size: 18px;
  margin-top: 5%;
  margin-bottom: 10%;
}

.title {
  text-align: left;
  font-family: 'Trebuchet MS';
}

.date {
  color: gray;
}

.btn {
  color: gray;
  background-color: white;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

code {
  color: black;
}

@media screen and (max-width: 800px) {
  .container {
    margin-left: 0;
  }
}
