body {
  background-color: rgb(131, 68, 248);
}

.container {
  margin-top: 50px;
  height: 100%;
  width: 50%;
  background-color: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
