body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("./pictures/img-noise-361x370.png");
  transition: 1s;
}

#overlay_text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  transition: 0.7s;
}

#overlay h1 {
  font-family: "Bungee Shade";
  animation: fade 2s linear infinite;
}

#overlay h3 {
  font-family: "Allan";
  animation: fade 2s linear infinite;
}

#home {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url("./pictures/jez-timms-139495-unsplash_[modified].jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation-duration: 3s;
}

#sign {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 45%;
  filter: brightness(50%);
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.col-3, .col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-3 a  {
  margin: 50px 0 50px 0;
  font-size: 40px;
  font-family: "Yeon Sung";
  color: gray;
}

.col-3 a:hover {
  transform: scale(1.3);
}

.col-3 a:hover, .col-12 a:hover {
  color: white;
  text-decoration: none;
}

.col-6 {
  height: 90vh;
}

.col-6 a {
  display: none;
}

.light1 {
  animation: flicker1 3s linear infinite;
  text-align: center;
}

.light2 {
  animation: flicker2 3s linear infinite;
  text-align: center;
}

@keyframes fade {
  0%, 100% {
    color: black;
  }
  25%, 75% {
    color: gray;
  }
  50% {
    color: white;
  }
}

@keyframes flicker1 {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity:.99;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity:0.4;
    text-shadow: none; 
  }
}

@keyframes flicker2 {
  0%, 8% {
    opacity:0.1;
  }
  2%, 9%, 20%, 30% {
    opacity:1;
  }
  12% {
    opacity:0.1;
  }
  25% {
    opacity:0.3;
  }
  70% {
    opacity:0.7;
  }
  72% {
    opacity:0.2;
  }
  77%, 100% {
    opacity:.9;
  }
}

@media screen and (max-width: 1024px) {
  #home {
    background-position: center;
  }
  
  .col-3 a {
    display: none;
  }

  .col-6 {
    justify-content: flex-end;
  }

  .col-6 a {
    font-family: "Yeon Sung";
    display: block;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 15px;
  }
}
