body {
  background: -webkit-radial-gradient(rgb(42, 84, 112), rgb(76, 65, 119));
  background: radial-gradient(rgb(42, 84, 112), rgb(76, 65, 119));
  display: flex;
  justify-content: center;
  align-items: center;
  color: cyan;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.scene {
  width: 100%;
  transform: rotate(-35deg) skew(20deg,10deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
}

.navbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 150%;
}

a {
  color: cyan;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.expand:hover {
  font-size: 120%;
}

.ln {
  color: white;
  font-size: 1000%;
  font-family: 'Londrina Outline', cursive;
  text-shadow: -1px 1px lightgray,
               -2px 2px lightgray,
			         -3px 3px lightgray,
			         -4px 4px lightgray,
			         -5px 5px lightgray,
			         -6px 6px lightgray,
			         -7px 7px lightgray,
			         -8px 8px lightgray,
			         -9px 9px lightgray,
			       -10px 10px lightgray;
}

.contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50;
  left: 50;
  font-family: 'Finger Paint', cursive;
}

.contact a {
  margin-bottom: 10px;
}

.logo-section {
  position: absolute;
  bottom: 50;
  right: 50;
  box-shadow: -8px 8px 5px rgb(1, 53, 50);
}

#logo {
  width: 150px;
}

#name {
  font-size: 200%;
}

.modal {
  font-family: 'Ubuntu', sans-serif;
}

.modal-header, .modal-body, .modal-footer {
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
