html, body {
  height: 100%;
  background-color: #160421;
  color: #00ffe5;
  font-family: "Cabin Sketch";
}

.navbar-toggler {
  background-color: white;
}

nav, .jumbotron {
  background-color: #160421;
}

.navbar a {
  color: #00ffe5;
  font-family: "Finger Paint";
}

.jumbotron {
  border-radius: 0px !important;
  text-align: center;
  height: 100%;
  margin-top: 50px;
}

.jumbotron p {
  font-size: 150%;
}

.flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-top: 100px;
}

.container p {
  font-size: 125%;
}

