body, html {
  height: 100%;
  margin: 0;
  background-color: rgb(31,26,22);
}

.front {
  background-image: url('./pictures/tracks.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-bottom: 0;
}

.front h1 {
  color: white;
  text-align: center;
  font-family: "Helvetica";
}

.caption {
  color: white;
  text-align: right;
  margin-bottom: 2%;
  margin-right: 2%;
}

.about {
  color: grey;
  background-color: black;
  text-align: center;
}

.about h1 {
  margin-bottom: 3%;
}

.about p {
  margin-top: 3%;
}

#profile {
  height: 15%;
  width: 15%;
  border-radius: 100%;
  border: 1px black solid;
  display: block;
  margin: 0 auto;
}

.random {
  background-color: black;
  color: gray;
}

#text-carousel {
  padding: 10%;
}

.carousel-content {
  padding-left: 5%;
  padding-right: 5%;
  min-height: 200px;
}

#tab {
  padding-left: 3%;
}

#letter {
  max-width: 100%;
}

.footer {
  background-color: black;
}

.right {
  text-align: right;
}