body, html {
  background-color: #0A7070;
  padding-top: 50px;
}

.navbar {
  background-color: black;
}

h2 {
  color: aquamarine;
  margin-top: 3%;
}

.jumbotron {
  padding-top: 3%;
  padding-bottom: 3%;
}

.bagels_section {
  background: url('./pictures/bagels/tara-evans-558138-unsplash.jpg') no-repeat center fixed;
  background-size: cover;
}

.text_box {
  background-color: #ffffff;
  opacity: 0.8;
  margin-bottom: 3%;
}

#header {
  margin-left: 1%;
  text-align: left;
  font-weight: bold;
  color: #7B1FA2;
}

#description {
  text-align: left;
  margin-left: 2%;
  font-weight: bold;
  color: #7B1FA2;
}

.bagels {
  width: 100%;
  height: auto;
}

.web_dev_section {
  background: url('./pictures/webdevforbeg_bg.jpg') no-repeat center fixed;
  background-size: cover;
}

.web_dev {
  width: 30%;
  height: auto;
}