body, html {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./pictures/blog/floor-gray-grey-8892.jpg");
  background-size: cover;
  overflow-x: hidden;
  font-family: 'Shadows Into Light', 'sans-serif';
  font-size: 20px;
  color: white;
}

#back {
  position: fixed;
  top: 50px;
  left: 50px;
}

.container {
  margin-top: 5%;
}

.container h1 {
  text-align: center;
}

#egg {
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: underline;
}

.carousel {
  background-color: transparent;
  width: 100%;
  text-align: center;
}

.carousel-cell {
  width: 500px;
  height: 300px;
  margin-right: 50px;
  background-color: black;
  background-size: cover;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.flex-around {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.flex-col {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flame {
  width: 60px;
  height: 80px;
  border-radius: 100% 50% 50% 50% / 100% 100% 40% 40%;
}

#flame1 {
  animation: fire1 3s linear infinite;
}

#flame2 {
  animation: fire2 3s linear infinite;
}

.crossguard {
  width: 80px;
  height: 20px;
  background-color: rgb(45, 10, 10);
}

.handle {
  width: 40px;
  height: 50px;
  background-color: rgb(45, 10, 10);
}

.modal-content {
  background-color: black;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgb(27, 85, 85);
  overflow: hidden;
}

.bat {
  display: flex;
  position: absolute;
  width: 110px;
}

.left_wing {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid black;
  animation: left_flap 1s linear infinite;
}

.body {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid black;
  margin-left: -20px;
  margin-top: 20px;
}

.right_wing {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid black;
  margin-left: -20px;
  animation: right_flap 1s linear infinite;
}

#bat1 {
  animation: fly1 1s linear infinite;
}

#bat2 {
  animation: fly2 1s linear infinite;
}

#bat3 {
  animation: fly3 1s linear infinite;
}

#bat4 {
  animation: fly4 1s linear infinite;
}

#bat5 {
  animation: fly5 1s linear infinite;
}

#bat6 {
  animation: fly6 1s linear infinite;
}

#bat7 {
  animation: fly7 1s linear infinite;
}

#bat8 {
  animation: fly8 1s linear infinite;
}

#bat9 {
  animation: fly9 1s linear infinite;
}

@keyframes fly1 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 33%;
    top: 5%;
  }
  66% {
    left: 66%;
    top: 10%;
  }
  100% {
    left: 100%;
    top: 0;
  }
}

@keyframes fly2 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 20%;
    top: 20%;
  }
  66% {
    left: 40%;
    top: 15%;
  }
  100% {
    left: 100%;
    top: 20%;
  }
}

@keyframes fly3 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 40%;
    top: 10%;
  }
  66% {
    left: 80%;
    top: 15%;
  }
  100% {
    left: 100%;
    top: 30%;
  }
}

@keyframes fly4 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 20%;
    top: 30%;
  }
  66% {
    left: 50%;
    top: 20%;
  }
  100% {
    left: 100%;
    top: 10%;
  }
}

@keyframes fly5 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 60%;
    top: 20%;
  }
  66% {
    left: 80%;
    top: 10%;
  }
  100% {
    left: 100%;
    top: 20%;
  }
}

@keyframes fly6 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 40%;
    top: 30%;
  }
  66% {
    left: 80%;
    top: 40%;
  }
  100% {
    left: 100%;
    top: 30%;
  }
}

@keyframes fly7 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 10%;
    top: 30%;
  }
  66% {
    left: 40%;
    top: 50%;
  }
  100% {
    left: 100%;
    top: 50%;
  }
}

@keyframes fly8 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 20%;
    top: 50%;
  }
  66% {
    left: 50%;
    top: 40%;
  }
  100% {
    left: 100%;
    top: 30%;
  }
}

@keyframes fly9 {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 30%;
    top: 30%;
  }
  66% {
    left: 90%;
    top: 50%;
  }
  100% {
    left: 100%;
    top: 40%;
  }
}

@keyframes left_flap {
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(-20deg);
    margin-top: 10px;
  }
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: rotate(0);
    margin-top: 0;
  }
}

@keyframes right_flap {
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(20deg);
    margin-top: 10px;
  }
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: rotate(0);
    margin-top: 0;
  }
}

@keyframes fire1 {
  0% {
    background-color: red;
  }
  25% {
    background-color: orange;
    border-radius: 100% 60% 20% 30% / 100% 100% 40% 40%;
  }
  50% {
    background-color: rgb(240, 75, 0);
    border-radius: 100% 70% 30% 40% / 100% 100% 40% 40%;
  }
  75% {
    background-color: orange;
    border-radius: 100% 30% 60% 40% / 100% 100% 40% 40%;
  }
  100% {
    background-color: red;
    border-radius: 100% 50% 40% 40% / 100% 100% 40% 40%;
  }
}

@keyframes fire2 {
  0% {
    background-color: rgb(255, 190, 20);
  }
  25% {
    background-color: orange;
    border-radius: 90% 50% 30% 20% / 90% 100% 40% 40%;
  }
  50% {
    background-color: red;
    border-radius: 100% 60% 30% 30% / 100% 80% 20% 40%;
  }
  75% {
    background-color: orange;
    border-radius: 100% 30% 60% 40% / 100% 100% 40% 40%;
  }
  100% {
    background-color: rgb(255, 190, 20);
    border-radius: 90% 40% 50% 40% / 90% 100% 40% 40%;
  }
}

@keyframes shadow1 {
  0% {
    background-color: red;
  }
  25% {
    background-color: orange;
  }
  50% {
    background-color: rgb(240, 75, 0);
  }
  75% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}

@keyframes shadow2 {
  0% {
    background-color: rgb(255, 190, 20);
  }
  25% {
    background-color: orange;
  }
  50% {
    background-color: red;
  }
  75% {
    background-color: orange;
  }
  100% {
    background-color: rgb(255, 190, 20);
  }
}

@media screen and (max-width: 1024px) {
  #back {
    top: 10px;
    left: 10px;
    z-index: 9;
  }
}
