body, html {
  background-size: contain;
  background-color: black;
  background-image: url('./pictures/pexels-photo-302655.jpeg');
  background-position: center;
  padding-top: 50px;
}

h2 {
  margin-top: 3%;
  color: white;
}

h5 {
  color: silver;
}

.col-md-3 p {
  font-size: 14px;
  border: 1px solid purple;
  color: grey;
}

p {
  padding-left: 1%;
}

.post {
  border: 1px solid purple;
  color: gray;
  font-size: 14px;
  margin-bottom: 10%;
}

.post p {
  margin-bottom: 0;
  margin-top: 0;
}

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

#back2Top:hover {
  background-color: #DDF;
  color: #000;
}