body, html {
  background-size: contain;
  background-color: black;
  background-image: url('pexels-photo-302655.jpeg');
  background-position: center;
}

h2 {
  margin-top: 3%;
  color: white;
}

h5 {
  color: silver;
}

.col-md-3 {
  font-size: 12px;
}

.col-md-3 p {
  border: 1px solid purple;
  color: grey;
}