body {
  font-family: 'Gentium Basic', serif;
  font-size: 123%;
  text-align: justify;
}

#pdf {
  position: absolute;
  right: 70px;
  top: 20px;
  color: black;
}

#name {
  font-size: 300%;
  font-weight: 500;
}

#info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#info ul {
  list-style-type: none;
}

.line {
  border-bottom: 10px solid black;
  margin-top: 10px;
}

.date {
  text-align: right;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

@media print {
  .link {
    color: black;
    text-decoration: none !important;
  }
  .print-hide {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .print-hide {
    display: none;
  }
  body {
    text-align: left;
  }
}
