body {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "M PLUS Rounded 1c", "sans-serif";
}

#pdf {
  position: absolute;
  right: 70px;
  top: 20px;
  color: black;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.circle {
  width: 200px;
  height: 200px;
  border: 5px solid rgb(255, 111, 75);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  text-shadow: -5px 5px gray;
  animation: continuousFlipX 2s linear infinite;
}

.circle p {
  animation: continuousFlipY 4s linear infinite;
}

.rectangle {
  border: 5px solid rgb(255, 111, 75);
  background-color: rgb(255, 111, 75);
  width: 80%;
  text-align: right;
  padding-right: 20px;
}

.horizontal {
  display: flex;
  justify-content: flex-end;
}

.horizontal a {
  color: black;
  text-decoration: underline;
}

.line {
  border-right: 1px solid black;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

h2 {
  text-shadow: -2px 2px gray;
}

.underline {
  border-bottom: 10px solid rgb(255, 111, 75);
  margin-bottom: 20px;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex div {
  width: 50%;
}

@keyframes continuousFlipX {
  0%, 100% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
}

@keyframes continuousFlipY {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
}

@media screen and (max-width: 1024px) {
  .circle, .line, #pdf {
    display: none;
  }
  
  .horizontal {
    flex-direction: column;
  }

  .flex {
    display: block;
  }

  .flex div {
    width: 100%;
  }
}

@media print {
  .print-hide {
    display: none;
  }
  a {
    color: black;
  }
}
