body {
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
}

#pdf {
  position: absolute;
  right: 30px;
  top: 10px;
  color: black;
  z-index: 2;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 400%;
}

.vertical-bar {
  border-right: 1px solid black;
}

.horizontal-bar {
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.skills {
  text-align: center;
}

@media print {
  body {
    font-size: 100%;
  }
  a {
    color: black;
    text-decoration: underline;
  }
  .print-hide {
    display: none;
  }
  .horizontal-bar {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
