.container {
  font-family: 'Gentium Basic', serif;
  margin-top: 50px;
}

#pdf {
  position: absolute;
  right: 70px;
  top: 20px;
  color: black;
}

#name {
  font-size: 300%;
  font-weight: 500;
}

#info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#info ul {
  list-style-type: none;
}

.line {
  border-bottom: 10px solid black;
  margin-top: 10px;
}

.date {
  text-align: right;
}

@media print {
  .link {
    color: black;
    text-decoration: none !important;
  }
}
