html, body {
  font-family: "Trebuchet MS", "sans-serif";
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
}

button {
  position: absolute;
  right: 80px;
  top: 10px;
}

.container {
  margin-top: 5%;
}

.info .col-md {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: gray;
  text-decoration: underline;
  text-decoration-color: gray;
}

.center {
  text-align: center;
}

.tab {
  margin-left: 50px;
}

.flex-col {
  flex-direction: column;
}

li {
  display: inline;
  padding-right: 50px;
}

@media screen and (max-width: 1024px) {
  button {
    display: none;
  }
}
