button {
  position: absolute;
  right: 80px;
  top: 10px;
}

.resume{
  font-family: "M PLUS Rounded 1c", "sans-serif";
	margin: 50px auto 50px auto;
	width: 80%;
}

h1 {
  text-shadow: -2px 2px gray;
}

h2 {
  font-family: "Mukta", "sans-serif";
  text-shadow: -2px 2px gray;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.experience .col-5 {
  font-weight: bold;
}

.list {
  display: flex;
  justify-content: space-around;
}

.education, .experience, .projects, .skills, .recognition {
  margin-top: 50px;
}

.education p, .experience p, .projects p, .recognition p {
  margin-left: 25px;
}

@media print {
  .recognition, #preuss, button {
    display: none;
  }
}
