body {
  width: 100%;
  font-family: 'Gentium Basic', serif;
}

#pdf {
  position: absolute;
  right: 70px;
  top: 20px;
  color: black;
}

.mobile {
  display: none;
}

.header {
  text-align: center;
}

.header p {
  margin: 0;
  padding: 0;
}

#name {
  font-size: 50px;
  font-weight: bold;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.underline {
  border-bottom: 1px solid black;
}

.box {
  padding-left: 3px;
  padding-right: 3px;
}

.col-sm-8 {
  border-left: 1px solid black;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex .box {
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

@media print {
  .print-hide {
    display: none;
  }

  a, a:link {
    color: black;
    text-decoration: none;
  }
}

@media screen and (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .flex-evenly {
    flex-direction: column;
  }
  #pdf {
    display: none;
  }
  .col-sm-8 {
    border-left: 0px;
  }
  .flex {
    flex-direction: column;
  }
  .flex .box {
    width: 100%;
  }
}
