html, body {
  font-family: "Trebuchet MS";
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
}

.tab {
  margin-left: 50px;
}

.container {
  margin-top: 5%;
}

.center {
  text-align: center;
}

.link {
  color: gray;
  text-decoration: underline;
  text-decoration-color: gray;
}

.info .col-md {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: inline;
  padding-right: 50px;
}