body, .navbar {
  background-position: center;
  background-size: contain;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("./pictures/writings/paper-2500942_960_720.jpg");
  overflow-x: hidden;
}

.banner {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 10px;
  margin-bottom: 10px;
  font-family: 'Indie Flower', 'sans-serif';
  text-align: center;
  background-color: rgb(226, 226, 226);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-left: 15%;
}

.post {
  font-family: 'Crimson Text', 'Times New Roman';
  font-size: 18px;
  margin-top: 5%;
  margin-bottom: 10%;
}

.title {
  text-align: left;
  font-family: 'Trebuchet MS', 'sans-serif';
}

.date {
  color: gray;
}

.btn {
  color: gray;
  background-color: white;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
}

code {
  color: black;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.purple {
  color: purple;
}

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 99;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

#back2Top:hover {
  background-color: #DDF;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: 0;
  }
}
