body {
  font-family: 'Lora', serif;
}

#back {
  position: absolute;
  top: 50px;
  left: 50px;
}

.container {
  padding-top: 20px;
}

.content {
  margin-bottom: 30px;
  border: 2px solid black;
  padding-left: 10px;
}

.col-md-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  #back {
    position: absolute;
    top: 30px;
    left: 250px;
  }
}
