body {
  background-color: rgb(131, 68, 248);
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 150%;
}

i {
  color: rgb(131, 68, 248);
}

#back:hover {
  color: blue;
}

h1 {
  font-size: 250%;
  font-family: 'Nanum Brush Script', cursive;
}

.link {
  text-decoration: underline;
}

.container {
  margin-top: 50px;
  height: 100%;
  width: 50%;
  background-color: transparent;
}

.row {
  background-color: white;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#prevNext {
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h2 {
  font-family: 'Permanent Marker', cursive;
}

img {
  width: 400px;
}
